-	@page_title = "Add new server"
- @header_button_left = { :name => "Back", :icon => "arrow-l", :url => servers_path }
- @header_button_right = { :name => "Delete2", :icon => "delete", :url => "index.html" }
= render 'form'